[submodule "themes/anubis"]
	path = themes/anubis
	url = git@github.com:chiyc/hugo-theme-anubis.git
[submodule "public"]
	path = public
	url = git@github.com:chiyc/chiyc.github.io.git
	branch = master
